header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 56px;
    background-color: #1d2939;
    padding-left: 1.25em;
    padding-right: 1.25em;
   
}



header button{
    color: white;
    border-radius: 5px;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    background-color: #155eef;
    border: none;
    letter-spacing: 1px;
    width: 80px;
    font-size: 1rem;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    opacity: calc(85%);
}



.header-title{
    flex:1;
    font-size: 1.4375rem;
    letter-spacing: 2px;
   
}

@media (max-width:900px) {
   
    header{
        position: absolute;
    }
}