.App{
margin-top: 55px;
    font-family: 'Wise Sans', 'Inter', sans-serif;
    background: linear-gradient(to bottom, #1d2939 300px, #fafafa 300px);
}

.page-info{
  text-align: center;
}

.page-info h1{
  padding-top:15px;
  color: white;
  font-size:max(2rem, min(calc(-.54545rem + 12.72727vw), 2.875rem));
  text-transform: uppercase;
  letter-spacing: 0px;
}

.page-info p{
  color: white;
  font-size:19px;
 
}